# Importing libraries, df_act_cust & checking outcome

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path=r'/Users/stefaniadaskalaki/Data Immersion/4 Achievement Python/CF4.2 Instacart Basket Analysis'

In [3]:
df_act_cust=pd.read_pickle(os.path.join(path, '02. Data', '02. Prepared Data', 'high_activ_cust.pkl'))

In [4]:
df_act_cust.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30964564 entries, 0 to 32404854
Data columns (total 36 columns):
 #   Column                       Dtype
---  ------                       -----
 0   order_id                     object
 1   user_id                      object
 2   order_number                 object
 3   order_day_of_week            object
 4   order_hour_of_day            object
 5   days_since_prior_order       float32
 6   new_customer                 bool
 7   product_id                   object
 8   add_to_cart_order            int16
 9   reordered                    int8
 10  product_name                 object
 11  aisle_id                     object
 12  department_id                object
 13  prices                       float32
 14  price_range_loc              object
 15  Busiest_day                  object
 16  Busiest_days                 object
 17  busiest_period_of_day        object
 18  max_order                    int8
 19  loyalty_flag                 object
 20  avg_price                    float32
 21  spending_flag                object
 22  frequency_order_median       float32
 23  frequency_order_median_flag  object
 24  first_name                   object
 25  surname                      object
 26  gender                       object
 27  state                        object
 28  age                          int8
 29  date_joined                  object
 30  n_dependants                 int8
 31  fam_status                   object
 32  income                       int32
 33  exists                       category
 34  region                       object
 35  activity_flag                object
dtypes: bool(1), category(1), float32(4), int16(1), int32(1), int8(4), object(24)
memory usage: 6.6+ GB

# 5. The marketing and business strategy units at Instacart want to create more-relevant marketing strategies for different products and are, thus, curious about customer profiling in their database. Create a profiling variable based on age, income, certain goods in the “department_id” column, and number of dependents. You might also use the “orders_day_of_the_week” and “order_hour_of_day” columns if you can think of a way they would impact customer profiles. (Hint: As an example, try thinking of what characteristics would lead you to the profile “Single adult” or “Young parent.”)

## Importing department_wrangled and checking outcome

In [5]:
df_dept=pd.read_csv(os.path.join(path, '02. Data', '02. Prepared Data', 'department_wrangled.csv'), index_col=False)

In [6]:
df_dept

    Unnamed: 0       department
0            1           frozen
1            2            other
2            3           bakery
3            4          produce
4            5          alcohol
5            6    international
6            7        beverages
7            8             pets
8            9  dry goods pasta
9           10             bulk
10          11    personal care
11          12     meat seafood
12          13           pantry
13          14        breakfast
14          15     canned goods
15          16       dairy eggs
16          17        household
17          18           babies
18          19           snacks
19          20             deli
20          21          missing

## Renaming column Unnamed to dept_category

In [7]:
df_dept.rename(columns ={'Unnamed: 0': 'dept_category'}, inplace = True)

In [8]:
df_dept

    dept_category       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

## Profiling based on age / creating age_flag

In [9]:
df_act_cust['age'].min()

18

In [10]:
df_act_cust['age'].max()

81

In [11]:
df_act_cust['age'].mean()

49.4680256760599

In [12]:
df_act_cust['age'].median()

49.0

### Categorisation as follows: 18-34 => Young adult, 35-50 => Middle aged, 51-69 => Senior middle aged, 70-81 => Senior

In [13]:
df_act_cust.loc[(df_act_cust['age']>=18) & (df_act_cust['age']<=34),'age_flag']='Young adult'

In [14]:
df_act_cust.loc[(df_act_cust['age']>=35) & (df_act_cust['age']<=50),'age_flag']='Middle aged'

In [15]:
df_act_cust.loc[(df_act_cust['age']>=51) & (df_act_cust['age']<=69),'age_flag']='Senior middle aged'

In [16]:
df_act_cust.loc[(df_act_cust['age']>=70) & (df_act_cust['age']<=81),'age_flag']='Senior'

In [17]:
df_act_cust['age_flag'].value_counts()

Senior middle aged    9134616
Young adult           8242295
Middle aged           7774770
Senior                5812883
Name: age_flag, dtype: int64

Senior middle aged customers are the core of Instacart

## Profiling based on income / creating income_flag

In [18]:
df_act_cust['income'].min()

25903

In [19]:
df_act_cust['income'].max()

593901

In [20]:
df_act_cust['income'].mean()

99675.86510754681

In [21]:
df_act_cust['income'].median()

96765.0

### Categorisation as follows: 25.900-90.000 => Low, 90.001-180.000 => Lower-middle, 180.001-250.000 => Upper-middle, and 250.001-600.000 => High

In [22]:
df_act_cust.loc[(df_act_cust['income']>=25900) & (df_act_cust['income']<=90000),'income_flag']='Low'

In [23]:
df_act_cust.loc[(df_act_cust['income']>=90001) & (df_act_cust['income']<=180000),'income_flag']='Lower-middle'

In [24]:
df_act_cust.loc[(df_act_cust['income']>=180001) & (df_act_cust['income']<=250000),'income_flag']='Upper-middle'

In [25]:
df_act_cust.loc[(df_act_cust['income']>=250001) & (df_act_cust['income']<=600000),'income_flag']='High'

In [26]:
df_act_cust['income_flag'].value_counts()

Lower-middle    17538948
Low             13134732
High              179778
Upper-middle      111106
Name: income_flag, dtype: int64

The lower middle income customers are the majority by far of the Instacart app

## Profiling based on n_dependants / creating family_flag

In [27]:
df_act_cust['n_dependants'].min()

0

In [28]:
df_act_cust['n_dependants'].max()

3

In [29]:
df_act_cust['n_dependants'].mean()

1.501819176268718

In [30]:
df_act_cust['n_dependants'].median()

2.0

### Categorisation as follows: 0 => No child, 1-2 => Small family, 3 => Large family

In [31]:
df_act_cust.loc[df_act_cust['n_dependants']==0,'family_flag']='No child'

In [32]:
df_act_cust.loc[df_act_cust['n_dependants']==1,'family_flag']='Small family'

In [33]:
df_act_cust.loc[(df_act_cust['n_dependants']>=3),'family_flag']='Large family'

In [34]:
# checking outcome 

df_act_cust['family_flag'].value_counts()

Large family    7772516
No child        7739681
Small family    7719106
Name: family_flag, dtype: int64

Quite interestingly we see that the family status seperates all the customers almost equally. Additionally another point to check is that the customers with children are double than those without.

## Setting wide option display for df and checking outcome

In [35]:
pd.set_option('display.max_columns', 50)

In [36]:
df_act_cust.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,Busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,frequency_order_median,frequency_order_median_flag,first_name,surname,gender,state,age,date_joined,n_dependants,fam_status,income,exists,region,activity_flag,age_flag,income_flag,family_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,14.0,High spender,30.0,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both,South,High activity,Young adult,Low,Large family
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,14.0,High spender,30.0,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both,South,High activity,Young adult,Low,Large family
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,14.0,High spender,30.0,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both,South,High activity,Young adult,Low,Large family
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,14.0,High spender,30.0,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both,South,High activity,Young adult,Low,Large family
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,14.0,High spender,30.0,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both,South,High activity,Young adult,Low,Large family

## Profiling based on fam_status / family_flag & income_flag

In [37]:
df_act_cust['fam_status'].value_counts()

married                             21743711
single                               5094410
divorced/widowed                     2645271
living with parents and siblings     1481172
Name: fam_status, dtype: int64

In [38]:
crosstab_fam = pd.crosstab(df_act_cust['fam_status'], df_act_cust['family_flag'], dropna = False)

In [39]:
crosstab_fam.to_clipboard()

In [40]:
df_act_cust.groupby(["fam_status", "family_flag", 'income_flag']).size()

fam_status                        family_flag   income_flag
divorced/widowed                  No child      High              17646
                                                Low              515384
                                                Lower-middle    2103209
                                                Upper-middle       9032
living with parents and siblings  Large family  High               1666
                                                Low              407820
                                                Lower-middle      77692
                                                Upper-middle       1291
                                  Small family  High                548
                                                Low              408846
                                                Lower-middle      97314
                                                Upper-middle       1337
married                           Large family  High              42360
                                                Low             2895065
                                                Lower-middle    4319790
                                                Upper-middle      26832
                                  Small family  High              40893
                                                Low             2869446
                                                Lower-middle    4275344
                                                Upper-middle      25378
single                            No child      High              29590
                                                Low             2756540
                                                Lower-middle    2292397
                                                Upper-middle      15883
dtype: int64

In [41]:
df_act_cust.groupby(["spending_flag", "family_flag", 'income_flag']).size()

spending_flag  family_flag   income_flag
High spender   Large family  High              44026
                             Low             3297477
                             Lower-middle    4397254
                             Upper-middle      28123
               No child      High              47236
                             Low             3266423
                             Lower-middle    4395174
                             Upper-middle      24915
               Small family  High              41441
                             Low             3273426
                             Lower-middle    4372442
                             Upper-middle      26715
Low spender    Large family  Low                5408
                             Lower-middle        228
               No child      Low                5501
                             Lower-middle        432
               Small family  Low                4866
                             Lower-middle        216
dtype: int64

In [42]:
df_act_cust.groupby(["region", "spending_flag", 'income_flag']).size()

region      spending_flag  income_flag
Midwest     High spender   High              48558
                           Low             3041401
                           Lower-middle    4141189
                           Upper-middle      24879
            Low spender    Low                5233
                           Lower-middle        253
North East  High spender   High              28704
                           Low             2293376
                           Lower-middle    3122206
                           Upper-middle      16626
            Low spender    Low                3610
                           Lower-middle        163
South       High spender   High              60695
                           Low             4418410
                           Lower-middle    5788620
                           Upper-middle      36644
            Low spender    Low                6401
                           Lower-middle        369
West        High spender   High              41821
                           Low             3360765
                           Lower-middle    4485874
                           Upper-middle      32957
            Low spender    Low                5536
                           Lower-middle        274
dtype: int64

Here we identify clearly that the main customer for Instacart is from the Lower Middle Income category thorughout all regions with the South being the highest performance region.

## Department / product profiling

### Converting df_dept to data dictionnary & checking outcome

In [43]:
df_dept.rename(columns ={'dept_category': 'department_id'}, inplace = True)

In [44]:
data_dict = df_dept.to_dict('index')

In [45]:
data_dict

{0: {'department_id': 1, 'department': 'frozen'},
 1: {'department_id': 2, 'department': 'other'},
 2: {'department_id': 3, 'department': 'bakery'},
 3: {'department_id': 4, 'department': 'produce'},
 4: {'department_id': 5, 'department': 'alcohol'},
 5: {'department_id': 6, 'department': 'international'},
 6: {'department_id': 7, 'department': 'beverages'},
 7: {'department_id': 8, 'department': 'pets'},
 8: {'department_id': 9, 'department': 'dry goods pasta'},
 9: {'department_id': 10, 'department': 'bulk'},
 10: {'department_id': 11, 'department': 'personal care'},
 11: {'department_id': 12, 'department': 'meat seafood'},
 12: {'department_id': 13, 'department': 'pantry'},
 13: {'department_id': 14, 'department': 'breakfast'},
 14: {'department_id': 15, 'department': 'canned goods'},
 15: {'department_id': 16, 'department': 'dairy eggs'},
 16: {'department_id': 17, 'department': 'household'},
 17: {'department_id': 18, 'department': 'babies'},
 18: {'department_id': 19, 'department': 'snacks'},
 19: {'department_id': 20, 'department': 'deli'},
 20: {'department_id': 21, 'department': 'missing'}}

### Connecting department names to department_id & checking outcome

In [46]:
df_act_cust['department'] = df_act_cust['department_id'].apply(lambda x: int(x)).map(data_dict)

In [47]:
df_act_cust['department'].head()

0    {'department_id': 8, 'department': 'pets'}
1    {'department_id': 8, 'department': 'pets'}
2    {'department_id': 8, 'department': 'pets'}
3    {'department_id': 8, 'department': 'pets'}
4    {'department_id': 8, 'department': 'pets'}
Name: department, dtype: object

In [48]:
df_act_cust.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,Busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,frequency_order_median,frequency_order_median_flag,first_name,surname,gender,state,age,date_joined,n_dependants,fam_status,income,exists,region,activity_flag,age_flag,income_flag,family_flag,department
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,14.0,High spender,30.0,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both,South,High activity,Young adult,Low,Large family,"{'department_id': 8, 'department': 'pets'}"
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,14.0,High spender,30.0,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both,South,High activity,Young adult,Low,Large family,"{'department_id': 8, 'department': 'pets'}"
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,14.0,High spender,30.0,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both,South,High activity,Young adult,Low,Large family,"{'department_id': 8, 'department': 'pets'}"
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,14.0,High spender,30.0,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both,South,High activity,Young adult,Low,Large family,"{'department_id': 8, 'department': 'pets'}"
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,14.0,High spender,30.0,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both,South,High activity,Young adult,Low,Large family,"{'department_id': 8, 'department': 'pets'}"

## Profiling based on departments

### Checking most popular departments

In [49]:
df_act_cust['department_id'].value_counts(dropna=False)

4     9079273
16    5177182
19    2766406
7     2571901
1     2121731
13    1782705
3     1120828
15    1012074
20    1003834
9      822136
17     699857
12     674781
14     670850
11     424306
18     410392
6      255991
5      144627
8       93060
21      64768
2       34411
10      33451
Name: department_id, dtype: int64

In [50]:
df_act_cust['product_name'].value_counts(dropna=False)

Banana                                    453164
Bag of Organic Bananas                    366403
Organic Strawberries                      255988
Organic Baby Spinach                      231772
Organic Hass Avocado                      206799
                                           ...
Cranberry Apple Crunch Protein Oatmeal         1
Bagels, Sliced, Cinnamon Raisin                1
Sugar Free Pecan Shortbread Cookies            1
Potato Bread                                   1
Rosemary Medium Asiago Cheese Wedge            1
Name: product_name, Length: 49630, dtype: int64

### Creating non_essentials flag

In [51]:
result=[]
for value in df_act_cust['department_id']:
  if value in ['4','5','6','7','8','19','20']:
    result.append('Non essentials')
  elif value in ['0','3','1','9','11','12','13','14','15','16','17','18']:
    result.append('Essentials')
  else:
    result.append('Other')

In [52]:
result

['Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Essentials',
 'Other',
 'Essentials',
 'Essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 'Non essentials',
 ...]

### Combining column shopping_basket to df_act_cust & checking outcome

In [53]:
df_act_cust['shopping_basket']=result

In [54]:
df_act_cust['shopping_basket'].value_counts(dropna=False)

Non essentials    15915092
Essentials        14916842
Other               132630
Name: shopping_basket, dtype: int64

As expected the majority of purchases are on the essentials category. What would be interesting to know is who purhases the non essentials.

In [55]:
df_act_cust.groupby('shopping_basket').agg({'prices':['mean', 'min','max']})

                    prices
                      mean  min      max
shopping_basket
Essentials       16.940744  1.0  99999.0
Non essentials    7.271976  1.0     15.0
Other             8.140807  1.0     15.0

In [56]:
df_act_cust['prices'].max()

99999.0

Since we have outliers (i thought i had corrected this in a previous task but maybe it was not saved) i will mark them as NaN

In [57]:
# Marking outliers in 'prices' as NaN

df_act_cust.loc[df_act_cust['prices']>100, 'prices'] = np.nan

In [58]:
df_act_cust.groupby('shopping_basket').agg({'prices':['mean', 'min','max']})

                   prices
                     mean  min   max
shopping_basket
Essentials       8.340977  1.0  25.0
Non essentials   7.271976  1.0  15.0
Other            8.140807  1.0  15.0

### Aggregate day_order_of_week when grouped by income

In [59]:
df_act_cust.groupby('age_flag').agg({'prices':['mean', 'min','max']})

                      prices
                        mean  min   max
age_flag
Middle aged         7.795152  1.0  25.0
Senior              7.792055  1.0  25.0
Senior middle aged  7.790839  1.0  25.0
Young adult         7.784978  1.0  25.0

In [60]:
# crossing with the order_hour_of_day and age_flag

crosstab_age_hour = pd.crosstab(df_act_cust['age_flag'], df_act_cust['order_hour_of_day'], dropna = False)

In [61]:
# copying to clipboard

crosstab_age_hour.to_clipboard()

In [62]:
# crossing with the order_day_of_week and age_flag

crosstab_age_day = pd.crosstab(df_act_cust['age_flag'], df_act_cust['order_day_of_week'], dropna = False)

In [63]:
# copying to clipboard

crosstab_age_day.to_clipboard()

In [64]:
# crossing with the order_day_of_week and income_flag

crosstab_income_day = pd.crosstab(df_act_cust['income_flag'], df_act_cust['order_day_of_week'], dropna = False)

In [65]:
# copying to clipboard

crosstab_income_day.to_clipboard()

In [66]:
# crossing with the order_hour_of_day and income_flag

crosstab_income_hour = pd.crosstab(df_act_cust['income_flag'], df_act_cust['order_hour_of_day'], dropna = False)

In [67]:
# copying to clipboard

crosstab_income_hour.to_clipboard()

# Exporting df_act_cust

In [68]:
df_act_cust.to_pickle(os.path.join(path, '02. Data','02. Prepared Data', 'df_act_cust.final.pkl'))